body {
  padding-top: 0px;
}
  h1, h2, strong em {
  color: #9E291A;
}
h1 {
  /*text-align: center;*/
  padding-top: 1.5em;
  /*padding-bottom: 0.5em;*/
}
.naslov {
  text-align: center;
  padding-bottom: 5em;
}
.naslov h1 {
  font-size: 4em;
}
.zgled {
	color: #266633;
}
a {
	color: #478AD6;
  text-decoration: none;
}
.domacanaloga {
	color: #7D4DC9;
}
.proof {
	color: #808080;
}
.kazalo > ul {
    list-style: none;
    font-weight: bold;
    padding-left: 0;
}
.kazalo ul ul li{
  list-style: none;
  font-weight: normal;
}
.izrek p, .trditev p, .lema p, .posledica p {
  border:1px solid black;
  padding: 1em;
}
/* .proof, .zgled, .domacanaloga {
  display: none;
} */
.math.display {
  overflow-x: auto;
  display: block;
}